<div id="<%= dom_id issue %>" class="cardIssue">
  <%= link_to issue.name, admin_podcast_issue_path(@podcast, issue) %>
  <%= button_to "Destroy this issue", admin_podcast_issue_path(@podcast, issue), method: :delete, data: { confirm: "Are you sure?" }, class:"destroyButton" %>
</div>



