<div class="cardComment">
<% if comment.persisted? %>
<h3 class="commenter">
    <%= comment.user ? comment.user.email : "Unknown User" %>
  </h3>
  <p>
    <%= comment.content %>
  </p>

  <div class="editingComment">
  <%= button_to 'Edit Comment', edit_admin_post_comment_path(comment.post, comment), method: :get, class: "editButton" %>

  <%= button_to 'Destroy Comment', [:admin, comment.post, comment], method: :delete, data: { turbo_stream: false, confirm: "Are you sure?" }, class: "destroyButton" %>
</div>

<% end %>
</div>