<%= form_for([@post, @post.comments.build]) do |form| %>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %> <!-- Ensure this is correctly set -->
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
