<h1>Authorpage#index</h1>
<p>Find me in app/views/authorpage/index.html.erb</p>

<div id="podcasts">
  <% @podcasts.each do |podcast| %>
    <%= render podcast %>
    <p>
      <%= link_to "Show this podcast", podcast %>
    </p>
  <% end %>
</div>

<h1>New podcast</h1>

<%= render "podcasts/form", podcast: @podcast %>