<h1 style="position:absolute; margin-top:35vh; margin-left: 17vw"> Привет, мы </h1>
<div class="inroductionFirstImage">
</div>

<div class="textBlock"> 
<h1>Привет от команды Толки!</h1>
<p>Мы — медиа-платформа, где пользователи могут делиться своими впечатлениями </br> и рекомендациями о подкастах.</p>
</div>


<div class="cardsImage">
<div class="textBlock"> 
<h1>Мы собрали всё </br> в одном месте!</h1>
<p>Наш уникальный поиск позволяет искать разножанровые подкасты, искать через персонализированные рекомендации и создавать плейлисты с рекомендациями пользователям!</p>
</div>
</div>

<h1 class="levitatingTextAMA"> У кого еще такое есть?
</h1>
<p>Создали возможность конкурсов и активностей в виде AMA-сессий, которые помогут аудитории и авторам подкастов больше взаимодействовать друг с другом</p>
<div class="commentsImage"></div>

<div class="promoBlock">  
<div class="promoBlockImage">
 </div>
 <h1 class="extra"> толкуй подкасты вместе с нами </h1>
<%= link_to "Предупредить о старте", root_url, class:"anounceButton"%>
</div>
<div class="footer">
<div class="footer_inside">
<%= image_tag asset_path('HseLogo.png'), alt: 'Описание изображения', class: 'footerLogo' %>
<div class="footerBlock">
<p class="bold">ГЛАВНАЯ</p>
<p class="small"> Рецензии и обсуждение подкастов и их выпусков </p>
</div>
<div class="footerBlock">
<p class="bold">РЕКОМЕНДАЦИИ</p>
<p class="small"> Персонализированные рекомендации подкастов  </p>
</div>
<div class="footerBlock">
<p class="bold">ПОДКАСТЫ</p>
<p class="small"> Большая библиотека авторов </p>
</div>
</div>
<div class="footerBlock">
<p class="small"> Эльвира Галиева </p>
<p class="small"> Вероника Логинова </p>
<p class="small"> Татьяна Турицына </p>
</div>
</div>