<%= link_to "<- Back to podcasts", admin_podcasts_path %>

<%= render @podcast %>

<div class="podcastEditing">
  <%= link_to "Edit this podcast", edit_admin_podcast_path(@podcast) %> 
</div>

<div class="podcastsIssues">
<h1>Выпуски подкаста</h1>
<div id="issues" class="allIssuesPage">
  <% @issues.each do |issue| %>
    <%= render issue %>
  <% end %>
</div>
</div>